* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-y: overlay;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* scrollbar styling */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(104, 104, 104) rgb(46, 46, 46);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
}

/* scrollbar styling end  */

.main-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section-one {
  width: 100%;
  height: 100vh;
  background-color: rgb(207, 207, 207);
}

.section-two {
  width: 100%;
  height: 100vh;
  background-color: rgb(156, 156, 156);
}

.section-three {
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

.section-four {
  width: 100%;
  height: 100vh;
  background-color: rgb(138, 138, 138);
}

.side-nav {
  position: fixed;
  top: 30%;
  left: 0;
  margin-left: 50px;
  width: auto;
  height: auto;
  opacity: 0;

}

.show {
  opacity: 1;
  margin-left: 110px;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

.nav-link-holder {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 40px 40px 40px 0;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 17px 0 17px 0;
  width: auto;
  cursor: pointer;
}

.decoration {
  height: 1px;
  background-color: black;
  width: 8px;
  border-radius: 1px;
  transform-origin: left;
  cursor: pointer;
  opacity: 50%;
  animation-name: grow-out;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.list-text {
  color: black;
  opacity: 0;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

// Hover events

.nav-link-holder:hover {
  .list-text {
    opacity: 50%;
  }
  .decoration {
    width: 14px;
  }
}

.nav-link:hover {
  .list-text {
    opacity: 100%;
  }
  .decoration {
    width: 25px;
    opacity: 100%;
    animation-name: grow;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
}

.active > .nav-link {
  .decoration {
    width: 25px;
    opacity: 100%;
    animation-name: grow;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  .list-text {
    opacity: 100%;
  }
}

// animation

@keyframes grow {
  from {
    width: 8px;
    opacity: 50%;
  }

  50% {
    width: 27px;
    opacity: 100%;
  }

  to {
    width: 25px;
    opacity: 100%;
  }
}

/* animation  */

@keyframes grow-out {
  from {
    width: 25px;
    opacity: 100%;
  }

  to {
    width: 8px;
    opacity: 50%;
  }
}
